
  @font-face {
    font-family: KarlaBold;
    src: url(Karla-Bold.ttf);
  }

  @font-face {
    font-family: PoppinsBold;
    src: url(Poppins/Poppins-ExtraBold.ttf);
  }
#scrollbar{

    font-family: Karla;
    font-size:18px;
    letter-spacing: 1px;
    text-decoration: underline;
    color: rgb(255, 246, 246);
    background-color:#2f333e;
    padding:10px;

}


#background {
    margin: 0;
background-color: black;
}


#top-banner {
   
    height:80px;
    border-bottom: 2px solid rgb(57, 54, 54);
    border-top: 2px solid rgb(57, 54, 54);
    
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.menu {

    display:inline;
    text-align: center;
    font-size: 16px;
    font-family: Karla,sans-serif;
    letter-spacing: 2px;
    color: rgb(8, 1, 1);
    
 
    }

#Logo {
    width: 100px;
    height: 80px;

}

#Logo-name {

    display: inline-block;
}

#Logo-name{
    position:relative;
    font-family:PoppinsBold;
    font-size: 60px;
    color:252839;
    -webkit-text-stroke: 1px #383d52;
    text-transform: uppercase;
   
}

#Logo-name::before{

    content:attr(data-text);
    position: absolute;
  
    color:rgba(255, 255, 4, 0.993);
    /* color:#01fe87; */
    -webkit-text-stroke:1px #383d52;
    border-right:5px solid yellow;
    
    overflow: hidden;
    animation:animate2 1.3s ease-in-out forwards;
}

@keyframes animate2
{

    0% 
    {
        width: 0;
    
    }

   

    100%{
        
      width:100%;
     
    }

}

.navbar {
  
  
    display: flex;
    justify-content:space-evenly;
    
}

#footer {
    width: 100%;
    
    text-align: center;
    box-sizing:border-box;
    padding:20px;
    background-color:rgb(241, 188, 14);
      
    border-top: 1px solid black;
}

        a:link {
            position: relative;
            text-decoration:none;
            color:rgb(255, 251, 251);
        
        }
        
        a:visited{
             color:rgb(255, 255, 255);
        }
        
        a:hover{
         
                font-family:KarlaBold;
             
               font-weight: 600;
                color: rgb(255, 255, 255);
            
        }
        
        
          
        a::after{
            position: absolute;
            content:"";
            background-color: rgb(0, 0, 0);
            width: 0%;
            height:5px;
            left:0;
            bottom:-5px;
            transition: 0.3s;
        }
        
        a:hover::after{
            width:100%;
            left:0%;
            height:3px;
            background-color: rgb(208, 18, 183);
            
            }
#container{
    /* background-color: rgb(9, 224, 217); */

    display: flex;
    background-color: rgb(9, 16, 29);
    
 }

.flexitem1 {

    width: 20%;
}

.flexitem2 {

    width: 60%;
   

    /*background-color: tomato; */
   
}

.flexitem3 {

    width: 20%;
    
}

.flexitem1 img{

    max-width: 100%;
}



.flexitem3 img{

max-width: 100%;
}


#container2{
     background-color:rgb(2, 8, 35);
    display: flex;
    padding: 5px;
}


#test {
    animation: 20s rotate infinite;
  }

  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }


#container3{

    
    display: flex;
    padding:5px;
    justify-content: center;
}

#flexitem4{
    width:50%;
    background-color:rgb(2, 8, 35);
    display: flex;
    justify-content: center;
    margin: 5px;
}

#flexitem5{
    width:50%;
    background-color: black;
    color: white;
    padding:5px;
    margin: 5px;
    
}


#container4{


    display: flex;
    padding:5px;
    justify-content: center;
}

#flexitem6{
    width:50%;
    background-color: black;
    color: white;
    padding:5px;

    
}

#flexitem7{
    width:50%;
    background-color:rgb(2, 8, 35);
        display: flex;
    justify-content: center;
}

